<div class="login-wrapper">
  <div class="login-card">
    <h3>TusNotasO</h3>

    <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
      <input type="text" formControlName="username" placeholder="Código de ingreso" class="input" />
      <input type="password" formControlName="password" placeholder="Contraseña" class="input" />
      <button type="submit" class="btn">Acceder</button>
    </form>

    <div class="info">
      <h3>Registrarse</h3>
      <p>Seleccione una opción:</p>
      <div class="register-options">
        <a class="btn secondary" routerLink="/registro-estudiante">Estudiante</a>
        <a class="btn secondary" routerLink="/registro-docente">Docente</a>
      </div>
    </div>
  </div>
</div>
