<div class="dashboard-container">
  <!-- Panel lateral -->
  <aside class="sidebar">
    <h2>Estudiante</h2>
    <nav>
      <ul>
        <li routerLink="materias" routerLinkActive="active">Materias</li>
        <li routerLink="inscripcion" routerLinkActive="active">Inscribirme</li>
        <li (click)="cerrarSesion()">Cerrar sesión</li>
      </ul>
    </nav>
  </aside>

  <!-- Área dinámica para cargar los componentes hijos -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
